.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  gap: 20px;
  margin-top: 20px;
}
.comments > .comment {
  display: flex;
  flex-direction: column;
}
.comments > .comment > .top {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
}
.comments > .comment > .top > img {
  height: 25px;
  width: 25px;
  border-radius: 9999px;
}
.comments > .comment > .top > .username {
  font-size: 12px;
  font-weight: 700;
  color: rgb(187, 187, 187);
}
.comments > .comment > .top > .time {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}
.comments > .comment > .body {
  font-size: 14px;
  font-weight: 400;
  color: #d1cccc;
  margin-bottom: 6px;
  margin-left: 35px;
}
.comments > .comment > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.comments > .comment > .bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 13px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.comments > .comment > .bottom > div:hover {
  background: rgba(66, 63, 78, 0.589);
}
.comments > .comment > .bottom > div > img {
  width: 18px;
  height: 18px;
  transition: all 0.5s;
}
.comments > .comment > .bottom > div > div {
  font-size: 13px;
}
.comments > .comment > .bottom > .votes > .like:hover {
  filter: invert(64%) sepia(74%) saturate(4886%) hue-rotate(88deg) brightness(120%) contrast(129%);
}
.comments > .comment > .bottom > .votes > .dislike:hover {
  filter: invert(62%) sepia(31%) saturate(2727%) hue-rotate(358deg) brightness(100%) contrast(107%);
}
.comments > .comment > .bottom > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.comments > .comment > .bottom > .dummy {
  width: 20px;
  height: 20px;
}
.comments > .comment > .addComment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid gray;
  border-radius: 24px;
  margin: 12px 0;
}
.comments > .comment > .addComment > .textarea1 {
  resize: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 12px 18px;
  outline: 0;
  font-size: 16px;
  color: white;
  height: 50px;
}
.comments > .comment > .addComment > .textarea2 {
  resize: vertical;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 12px 18px;
  outline: 0;
  font-size: 16px;
  color: white;
  min-height: 50px;
}
.comments > .comment > .addComment > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 14px 4px;
  gap: 8px;
}
.comments > .comment > .addComment > .bottom > button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.5s;
}
.comments > .comment > .addComment > .bottom > .cancel {
  background: rgba(51, 51, 51, 0.5);
}
.comments > .comment > .addComment > .bottom > .comment {
  background: rgba(0, 94, 202, 0.5);
}
.comments > .comment > .addComment > .bottom > .cancel:hover {
  background: rgba(51, 51, 51);
}
.comments > .comment > .addComment > .bottom > .comment:hover {
  background: rgba(0, 94, 202);
}
