.postExpanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}
.postExpanded > .postCont {
  width: 800px;
  margin-top: 3px;
  cursor: pointer;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
  transition: all 0.5s;
}
.postExpanded > .postCont > .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.postExpanded > .postCont > .top > .left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.postExpanded > .postCont > .top > .left > img {
  height: 36px;
  width: 36px;
  border-radius: 9999px;
}
.postExpanded > .postCont > .top > .left > .username {
  font-size: 14px;
  font-weight: 700;
  color: rgb(187, 187, 187);
}
.postExpanded > .postCont > .top > .left > .time {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
.postExpanded > .postCont > .top > img {
  height: 24px;
  width: 24px;
}
.postExpanded > .postCont > .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.postExpanded > .postCont > .desc {
  font-size: 17px;
  font-weight: 400;
  color: #d1cccc;
  margin-bottom: 10px;
}
.postExpanded > .postCont > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.postExpanded > .postCont > .bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  background: rgba(66, 63, 78, 0.151);
  border-radius: 20px;
  transition: all 0.5s;
}
.postExpanded > .postCont > .bottom > div:hover {
  background: rgba(66, 63, 78, 0.589);
}
.postExpanded > .postCont > .bottom > div > img {
  width: 26px;
  height: 26px;
  transition: all 0.5s;
}
.postExpanded > .postCont > .bottom > .votes > .like:hover {
  filter: invert(64%) sepia(74%) saturate(4886%) hue-rotate(88deg) brightness(120%) contrast(129%);
}
.postExpanded > .postCont > .bottom > .votes > .dislike:hover {
  filter: invert(62%) sepia(31%) saturate(2727%) hue-rotate(358deg) brightness(100%) contrast(107%);
}
.postExpanded > .postCont > .bottom > .votes > .liked {
  filter: invert(64%) sepia(74%) saturate(4886%) hue-rotate(88deg) brightness(120%) contrast(129%);
}
.postExpanded > .postCont > .bottom > .votes > .disliked {
  filter: invert(62%) sepia(31%) saturate(2727%) hue-rotate(358deg) brightness(100%) contrast(107%);
}

.postExpanded > .addComment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid gray;
  border-radius: 24px;
  margin: 12px 0;
}
.postExpanded > .addComment > .textarea1 {
  resize: none;
  width: 750px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 12px 18px;
  outline: 0;
  font-size: 16px;
  color: white;
  height: 50px;
}
.postExpanded > .addComment > .textarea2 {
  resize: vertical;
  width: 750px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 12px 18px;
  outline: 0;
  font-size: 16px;
  color: white;
  min-height: 50px;
}
.postExpanded > .addComment > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 14px 4px;
  gap: 8px;
}
.postExpanded > .addComment > .bottom > button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.5s;
}
.postExpanded > .addComment > .bottom > .cancel {
  background: rgba(51, 51, 51, 0.5);
}
.postExpanded > .addComment > .bottom > .comment {
  background: rgba(0, 94, 202, 0.5);
}
.postExpanded > .addComment > .bottom > .cancel:hover {
  background: rgba(51, 51, 51);
}
.postExpanded > .addComment > .bottom > .comment:hover {
  background: rgba(0, 94, 202);
}
