.post {
  width: 800px;
  border-bottom: 1px solid rgb(128, 118, 118);
  padding: 5px 0;
}
.post > .postCont {
  width: 800px;
  margin-top: 3px;
  cursor: pointer;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
  transition: all 0.5s;
}
.post > .postCont:hover {
  background: rgba(66, 63, 78, 0.171);
}
.post > .postCont > .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.post > .postCont > .top > .left {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.post > .postCont > .top > .left > img {
  height: 25px;
  width: 25px;
  border-radius: 9999px;
}
.post > .postCont > .top > .left > .username {
  font-size: 12px;
  font-weight: 700;
  color: rgb(187, 187, 187);
}
.post > .postCont > .top > .left > .time {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}
.post > .postCont > .top > img {
  height: 16px;
  width: 16px;
}
.post > .postCont > .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
.post > .postCont > .desc {
  font-size: 15px;
  font-weight: 400;
  color: #d1cccc;
  margin-bottom: 10px;
}
.post > .postCont > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.post > .postCont > .bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 13px;
  background: rgba(66, 63, 78, 0.151);
  border-radius: 20px;
  transition: all 0.5s;
}
.post > .postCont > .bottom > div:hover {
  background: rgba(66, 63, 78, 0.589);
}
.post > .postCont > .bottom > div > img {
  width: 20px;
  height: 20px;
  transition: all 0.5s;
}
.post > .postCont > .bottom > .votes > .like:hover {
  filter: invert(64%) sepia(74%) saturate(4886%) hue-rotate(88deg) brightness(120%) contrast(129%);
}
.post > .postCont > .bottom > .votes > .dislike:hover {
  filter: invert(62%) sepia(31%) saturate(2727%) hue-rotate(358deg) brightness(100%) contrast(107%);
}
